@page {
    size: 21cm 29.7cm;
    margin: 27mm 16mm 27mm 16mm
}

body {
    font-family: 'Averia Libre', cursive;
    margin: 0px;
    -webkit-print-color-adjust: exact !important;
    background-color: #444;
}

.page {
    position: relative;
    font-family: 'Averia Libre', cursive;
    height: 29.7cm;
    width: 21cm;
    margin: 1cm auto 1cm auto;
    z-index: -11;
    box-shadow: #333 0.5cm 0.5cm;
}

.input {
	cursor: text;
	pointer-events: all;
	fill: #777;
}

.input.checkbox {
	cursor: pointer;
	visibility: hidden;
}

svg {
	display: block;
    position: relative;
	width: 765px;
	height: 990px;
    margin: 1cm auto 1cm auto;
    background-color:white;
	#pointer-events: all;
	pointer-events: none;
    box-shadow: #333 0.5cm 0.5cm;
	cursor: default;
}

.hidden {
	position: absolute;
	left: -9999px;
	top: 0px;
}
