/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(../fonts/Averia_Libre/AveriaLibre-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url(../fonts/Metamorphous/Metamorphous-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media print {
	@page {
		size: A4;
		margin: 0cm 0cm 0cm 0cm;
		page-break-after: always;
	}

	html, body {
		margin: 0cm 0cm;
		overflow: hidden;
	}

	object {
		margin: 0cm 0cm 0cm 0cm;
		width: 100%;
		height: 100%;
		page-break-after: always;
	}

	.hidden, .temporary {
		display: none;
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0; 
	}

}

@media screen {
	body {
		margin: 0px;
		font-family: 'Averia Libre', cursive;
		background-color: #444;
        text-align:center;
	}

	object, .page {
        display: inline-block;
        position: relative;
		margin: 0.5cm 0.1cm 0.5cm 0.1cm;
		width: 100%;
		max-width: 21cm;
		height: auto;
	}

    object {
		box-shadow: #333 0.2cm 0.2cm;
		background-color:white;
		cursor: default;
    }
}

@media screen and (max-width:1000px) {
	body {
		margin: 0;
		font-family: 'Averia Libre', cursive;
		background-color: #444;
        text-align:center;
	}

	object, .page {
		margin: 0 0 0.5cm;
	}
}

object {
    position: relative;
}

svg#playbooks {
    height: 20%;
    top: 55%;
    position: absolute;
top: 57%;
position: absolute;
width: 13%;
left: 50%;
}

#playbooks a {
    fill: #656263;
}

#playbooks a:hover {
    fill: #454243;
}
