/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(../fonts/Averia_Libre/AveriaLibre-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url(../fonts/Metamorphous/Metamorphous-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media print {
	@page {
		size: A4;
		margin: 0cm 0cm 0cm 0cm;
		page-break-after: always;
	}

	html, body {
		margin: 0cm 0cm;
		overflow: hidden;
	}

	object {
		margin: 0cm 0cm 0cm 0cm;
		width: 100%;
		height: 100%;
		page-break-after: always;
	}

	.hidden, .temporary {
		display: none;
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0; 
	}

}

@media screen {
	body {
		margin: 0px;
		font-family: 'Averia Libre', cursive;
		background-color: #444;
	}

	object {
		margin: 1cm auto 1cm auto;
		width: 21cm;
		height: 29.7cm;
		background-color:white;
		cursor: default;
		box-shadow: #333 0.5cm 0.5cm;
	}
}

object {
	display: block;
    position: relative;
}

a {
    font-size: 15;
    display: block;
    color: #656263;
    text-decoration: none; 
}

a:hover {
    color: #454243;
}


#playbooks {
    position: relative;
    width: 8.7em;
    margin: auto;
    bottom: 588px;
    line-height: 13.15pt;
}
