@media screen and (max-width: 220px) {
    body { font-size: 6pt; }
}

body { font-size: 2vw; }
body * { font-size: inherit; }

input[name="class"] {
    font-size: 200%; 
}

.pick > * > :nth-child(1) {
    display: inline-block;
}

.pick > * > :nth-child(2) {
    display: inline-block;
    vertical-align: middle;
}

.pick > * > :nth-child(3) {
    font-size: smaller;
}

.move > :nth-child(1) {
    display: inline-block;
}

.move > :nth-child(2) {
    display: inline-block;
    vertical-align: middle;
}

.move > :nth-child(3) {
    font-size: smaller;
}
