@media screen and (max-width: 500px) {
    body { 
        font-size: 6pt; 
    }
    [value]:before {
        text-align: center;
        padding: 0;
    }

    [value]:before,
    [value="look"] > [value]:before {
        min-width: 12ex;
    }


    [value] {
        width: 100%;
        display: flex;
        margin: 1ex 0;
        line-height: 2ex;
    }

    [value] > * {
        flex-grow: 1;
        text-align: center;
    }

    [value="look"] {
        display: block !important;
    }

    [value="look"]:before {
        width: 100%;
        display: block !important;
    }

    [value="look"] > [value] {
        width: 100%;
        display: flex;
        margin: 1ex 0;
    }

    [value="look"] > [value]:before {
        display: inline-block;
    }

    [value="look"] > [value] > input {
        flex-grow: 1;
    }

    [value] > input {
        height: 100%;
    }
}

body { font-size: 2vw; }
body * { 
    font-size: inherit; 
    box-sizing: border-box;
}

input[name="class"] {
    font-size: 300%; 
    max-width: 100%;
    margin: 0;
}

.pick > * > :nth-child(1) {
    width: auto;
}

.pick > * > :nth-child(2) {
    font-size: smaller;
    width: auto;
}

.move > :nth-child(1) {
    display: inline-block;
}

.move > :nth-child(2) {
    display: inline-block;
    vertical-align: middle;
}

.move > :nth-child(3) {
    font-size: smaller;
}

.pick > * {
    display: block;
}

.wrapper { position: relative; }
.jcarousel {
    position: relative;
    overflow: hidden;
    height: 10ex;
    text-align: center;
    width: 80vw;
    left: 10vw;
}

.jcarousel > * > label {
    position: relative;
    float: left;
    width: 80vw;
    height: 10ex;
    border-radius: 1ex;
}

.jcarousel > * > * > * {
    display: block;
}

.jcarousel-wrapper {
    margin: 2ex auto;
    width: 80%;
}

.jcarousel > * {
    width: 10000em;
    position: relative;
    margin: 0;
    padding: 0;
}

.jcarousel * {
    -moz-user-select: none;
    user-select: none;
}

.jcarousel-control-prev { left: calc( 10vw - 1ex); }
.jcarousel-control-next { right: calc( 10vw - 2ex); }

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 0px;
    text-decoration: none;
    font-size: 8ex;
}
