/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(../fonts/Averia_Libre/AveriaLibre-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url(../fonts/Metamorphous/Metamorphous-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media screen and (min-width: 220px) {
    body:before { content: "DUNGEON WORLD CHARACTER SHEETS"; }
}

body { 
    font-family: 'Averia Libre'; 
    background-image: url( 'images/background_1.svg' );
    background-repeat: no-repeat;
    background-size: 100%;
}
body:before {
    font-family: 'Metamorphous';
    font-size: 100%;
    text-align: center;
    display: block;
}

input { 
    border: 0; 
    font-family: inherit; 
    font-size: inherit;
    text-align: inherit;
    color: black;
    background: transparent;
}
input:placeholder-shown {
    border: 1px red dashed;
    box-sizing: border-box;
}

input[type="number"] {
    width: 5ex;
}

div[value] > input {
    background: rgba( 255, 255, 255, 0.4 );
}

[value]:before {
    color: black;
    padding-right: 1em;
    text-transform: uppercase;
}
[value] > div { display: inline-block; }

[value="class"] { 
    font-family: 'Metamorphous'; 
    text-align: center;
}

[value="look"]:before {
    content: "Look"; 
    display: table-cell;
}
[value="body"]:before { content: "Body"; }
[value="eyes"]:before { content: "Eyes"; }
[value="decoration"]:before { content: "Decoration"; }
[value="clothes"]:before { content: "Clothes"; }
[value="name"]:before { content: "Name"; }
[value="level"]:before { content: "Level"; }
[value="xp"]:before { content: "XP"; }
[value="armor"]:before { content: "Armor"; }
[value="hitpoints"]:before { content: "Hitpoints"; }
[value="damage"]:before { content: "Damage"; }
[value="coin"]:before { content: "Coin"; }
[value="load"]:before { content: "Load"; }

[value="look"] { 
    display: table; 
    width: 100%;
}
[value="look"] > div:before { 
    display: table-cell;
    text-align: right;
}
[value="look"] > div { 
    position: relative;
    display: table-row; 
    margin: 0 1ex;
    width: calc( 100% - 2ex );
}
[value="look"] > div > *,
[value="look"] > div > :before { 
    display: table-cell; 
}

[value="look"] > div > * { 
    flex-grow:1;
}

[value="damage"] > input:placeholder:before {
    content: "hello";
}
